.main{
    padding-top: 55px;
}

.roadImgWrapper {
    /* background-image: url(../images/catalog/Шины\ от\ машины\ 1.png);
    background-repeat: no-repeat;
    background-size:contain;
     background-position:left 100% top 0%; */
}
.filter {
    margin-top: 65px;

}
.formFilter {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.selectWrapper{
    position: relative;

    width: 31%;
}

.selectWrapper::after {
  content: url(../../images/icons/arrowDownTriangle-min.svg);
  font-size: 1rem;
  top: 23px;
  right: 20px;
  position: absolute;
  pointer-events: none;
}

.formSelect{
    width: 100%;
    height: 64px;
    padding-left: 61px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    background-color: var(--light);
    color: var(--gray);


    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.formSelect:hover, .formSelect:focus{
    outline: 2px solid var(--light-gray);
}

.formSelected{
    background-image: url(../../images/icons/car.svg);
    background-size: 31px 31px;
    background-repeat: no-repeat;
    background-position: 5.5% 50%;
}

.formFilterBtn:hover, .formFilterBtn:focus{
    outline: 2px solid var(--light-gray);
}
.minMaxWrapper{
    position: relative;
    display: flex;
    width: 31%;
    height: 64px;

    background-color: var(--light);
    color: var(--gray);
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.filterMin {
    width: 50%;
    padding-left: 61px;
}
.filterMax {
    width: 50%;
    padding-right: 61px;
}


@media (width <= 768px ) {
    .formFilter{
        justify-content: space-between;
        gap: 20px;
    }
    .selectWrapper::after {
        right: 10px;
    }
    .formSelect {
        padding-left: 46px;
        font-size: 14px;
        line-height: 24px;
    }
}

@media (width <= 375px ) {
    .filter{
        margin-top: unset;
    }
    .formFilter{
        justify-content: space-between;
        gap: 10px;
    }
    .selectWrapper {
        width: 100%;
    }
    .selectWrapper::after {
        right: 20px;
    }
    .formSelect {
        padding-left: 66px;
        font-size: 16px;
        line-height: 24px;
    }
    .formFilterBtn {
        width: 100%;
    }
    
}