/* About Us */

.flex{
    display: flex;
    justify-content: flex-start;
    gap: 40px; 
    /* 40px */
    width: 100%;
    min-height: 793px;
}

.aboutus {
    width: 100%;
    min-height: 793px;

    margin: 160px auto 100px auto;

    background-image: url(../images/aboutus/фон.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.aboutusInfo {
    width: 40%;

    margin: 17% 0 0 0;   /* 200px */ 

    color: var(--light);
}
.aboutusTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    
}
.aboutusText {
    margin-top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.aboutusImg {
    width: 75%; 

    display: block;
    position: absolute;
    right: 0%; 
    /* -16.5 */
    bottom: -2%;
    margin: auto;
}
