/* Header */
.header {
    display: flex;
    margin: 0 auto;

    width: 100%;
    /* height: 791px; */
    height: 41%;
    

    background-image: url(../images/header/Бэкграунд.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    color: var(--white);
}

.bar {
    width: 100%;

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    margin-top: 38px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.logo {
}
.logoText {
    text-transform: uppercase;
}
.nav {
}
.navigationPages {
    display: flex;
    gap: 40px;
}
.page {
   align-self: center;
}
.page a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:  var(--white);
    position: relative;
}

.page a::after,
.catalogTitle a::after,
.aboutusTitle a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--yellow);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.catalogTitle a::after {
    height: 4px;
}

.page a:hover::after,
.catalogTitle a:hover::after,
.aboutusTitle a:hover::after  {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.profile {
}
.language{
    color: var(--white);
}


.burgerContainer{
    position: relative;
    display: none;

    width: 23px;
    height: 15px;
}
.burgerButton{
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1;
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   border: none;
   font-size: 0px;
   background: transparent;
   cursor: pointer;
}
.burgerBar{
   background-color:var(--yellow);
   position: absolute;
   height: 20%;
   left: 0px;
   right: 0px;
   top: 0%;
   opacity: 1;
}
.burgerBar:nth-child(2){
   top: 40%;
}
.burgerBar:nth-child(3){
   top: 80%;
}

.headerTitle{
    width: 100%;

    margin: 13% 5px 31.5% 0;

    /* 150px  7.8*/

    font-family: 'Goldman';
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 204px;
    
    text-transform: uppercase;
    
    background: linear-gradient(180deg, #F3F3F3 55.15%, rgba(243, 243, 243, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}
.headerImg{
    width: 80%; 
    /* 48.6 */
    height: 65%;

    /* height 41-42% */

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6%;
    margin: auto;
}


@media (width <= 768px ) {

    .header{
        display: flex;
        margin: 0 auto;
        width: 100%;
        /* height: 791px; */
        height: 41%;
        background-image: url(../images/header/Бэкграунд.webp);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--white);
    }
    .navigationPages{
        flex-direction: column;
        gap: 10px;
        z-index: 3;

        width: 40%;

        position: absolute;
        right: 0;
        top: 35px;
        background-color: var(--white);
    }
    .page a{
        color: var(--dark);
    }
    .burgerContainer{
        display: block;
        align-self: center;
   }

   .burgerButton{
       
   }
   .burgerBar{
    
   }

   .headerTitle{
    font-weight: 700;
    font-size: 86px;
    line-height: 102px;
   }
   .headerImg {
    width: 80%;
    height: 63%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6%;
    margin: auto;
}
}

@media (width <= 375px ) {

    .navigationPages {
        width: 70%;
        background-color: transparent;
    }
    .page {
        width: 100%;
        padding: 0 20px;
        align-self: center;
        text-align: center;
        background-color: var(--yellow);
    }
    .page:first-child{
        padding-top: 20px;

    }
    .page:last-child{
        padding-bottom: 20px;
        
    }
    .burgerContainer{
        display: block;
        align-self: center;
    }
   .headerTitle{
    font-weight: 700;
    font-size: 43px;
    line-height: 102px;
   }
   .headerImg {
    width: 100%;
    height: 56%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6%;
    margin: auto;
    }
}