:root{
    /* Colors */
 --dark:#181819;
 --light:#F5F5F5;
 --yellow: #FFDC60;
 
 --lightest-gray: #E7E7E7;
 --light-gray: #CECECE;
 --gray: #6F6F6F;

 --background: #E2E2E2;

 --white:#FFFFFF;
 --black: #000000;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  background-color: var(--background);
}
/* font-family: 'Goldman', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


/* Wrapper */
.wrapper {
    margin: 0 auto ;
    max-width: 1160px;	
    position: relative;
    /* display: flex; */
   /* overflow: hidden; */
}
@media (width <= 1160px){
    .wrapper {
          max-width: 768px;
        }
    }
  
@media (width <= 768px){
.wrapper {
      max-width: 375px;
    }
}

/* Togglers */

.none{
    display:  none !important;
}

/* Animations */
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Repeatable css */
.btn{
    height: 64px;
    width: 31%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    background-color: var(--yellow);
    color: var(--dark);
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}


/* Main filter + catalog */

select {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
    outline: 0px;
}

.main{
    padding-top: 55px;

}

.roadImgWrapper {
    /* background-image: url(../images/catalog/Шины\ от\ машины\ 1.png);
    background-repeat: no-repeat;
    background-size:contain; */
    /* background-position:left 100% top 0%; */
}
.filter {
    margin-top: 65px;

}
.formFilter {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.selectWrapper{
    position: relative;

    width: 31%;
}

.selectWrapper::after {
  content: url(../images/icons/arrowDownTriangle.svg);
  font-size: 1rem;
  top: 23px;
  right: 20px;
  position: absolute;
  pointer-events: none;
}

.formSelect{
    width: 100%;
    height: 64px;
    padding-left: 61px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    background-color: var(--light);
    color: var(--gray);


    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.formSelect:hover, .formSelect:focus{
    outline: 2px solid var(--light-gray);
}

.formSelected{
    background-image: url(../images/icons/car.svg);
    background-size: 31px 31px;
    background-repeat: no-repeat;
    background-position: 5.5% 50%;
}
.formFilterBtn {
}

.formFilterBtn:hover, .formFilterBtn:focus{
    outline: 2px solid var(--light-gray);
}
.minMaxWrapper{
    position: relative;
    display: flex;
    width: 31%;
    height: 64px;

    background-color: var(--light);
    color: var(--gray);
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.filterMin {
    width: 50%;
    padding-left: 61px;
}
.filterMax {
    width: 50%;
    padding-right: 61px;
}

/* catalog */

.catalog {
    width: 100%;

    margin-top: 155px;
}
.catalogTitle {
    display: flex;
    justify-content: flex-start;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;

    color: var(--dark);
}
.catalogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 80px;
    width: 100%;
    /* temporal */
    margin-bottom: 100px;
}
.catalogCard {
    width: 360px; 
    /* 31% */
    position: relative;
    margin-bottom: 40px;

    background-color: var(--light);
}
.catalogCard:hover .catalogControls,
.catalogCard:focus .catalogControls{
    animation: 1s show ease;
    z-index: 2;
}
.catalogInfo {
    padding: 40px 20px ;

    display: flex;
    justify-content: space-between;
    color: var(--gray);
}
.catalogControls{
    position: absolute;
    display: flex;
    justify-content: center;

    left: 0;
    top: 65%;
    z-index: 1;
    display: flex;
    gap: 20px;

    width: 100%;
    height: 42px;
}

.catalogControl{
    width: 11.6%;
    height:auto;
    /* 42 42 */
    position: relative;
    transform: rotate(45deg);

    background-color: var(--yellow);
}
.catalogControl svg {
    transform: rotate(-45deg);
}
.catalogControl:hover{
 background-color: var(--light);

}

.catalogILeft {
}
.catalogITitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;

    color: var(--dark);
}
.catalogIText {
}
.catalogIPrice {
    display: block;
    margin-top: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;

    text-decoration: underline var(--yellow);
    color: var(--dark);
}
.catalogIRight {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.catalogILine {
    display: flex;
    align-items: center;

}
.catalogILineImg {
}
.catalogImg {
    margin-bottom:  40px;

    display: block;
    position: relative;
    visibility: visible;
    z-index: 2;

    width: 100%;
}

.catalogBtn{
    display: flex;    
    margin: 0 auto;

    align-items: center;
    justify-content: center;
}

/* About Us */

.flex{
    display: flex;
    justify-content: flex-start;
    gap: 40px; 
    /* 40px */
    width: 100%;
    min-height: 793px;
}

.aboutus {
    width: 100%;
    min-height: 793px;

    margin: 160px auto 100px auto;

    background-image: url(../images/aboutus/фон.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.aboutusInfo {
    width: 40%;

    margin: 17% 0 0 0;   /* 200px */ 

    color: var(--light);
}
.aboutusTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    
}
.aboutusText {
    margin-top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.aboutusImg {
    width: 75%; 

    display: block;
    position: absolute;
    right: 0%; 
    /* -16.5 */
    bottom: -2%;
    margin: auto;
}


/* slider reviews */

.reviews {
    color: var(--dark);
}
.reviewsTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
}
.reviewsText {
    margin-top: 40px;
    max-width: 37%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.slider {
    width: 100%;
    overflow: hidden;

    color: var(--dark);
}
.sliderLine {
    margin-top: 50px;

    width: 600%;
    left: 0;
    display: flex;
    position: relative;
    transition: all ease 1s;
    gap: 40px;
}
.sliderPage {
    width: 360px;
    padding: 40px;

    background-color: var(--light);
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}

.sliderText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.sliderUser {
    display: flex;
    justify-content: flex-start;

    margin-top: 20px;

    gap: 20px;
}
.sliderUserImg {
    width: 69px;
    height: 69px;

}
.sliderUserData {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.SliderBtns {
    display: flex;
    justify-content: center;
    gap: 42px;

    margin-top: 80px;
}
.sliderBtn {
}
.previous {
}
.next {
    transform: rotate(180deg);
}

@media (width <= 768px) {
    .reviewsTitle {
        font-weight: 700;
        font-size: 70px;
        line-height: 82px;
    }
    .reviewsText {
        margin-top: 40px;
        max-width: 37%;

        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .sliderLine {
        margin-top: 50px;
    
        width: 600%;
        left: 0;
        display: flex;
        position: relative;
        transition: all ease 1s;
        gap: 40px;
    }
    .sliderPage {
        width: 360px;
        padding: 40px;
    }
    .sliderText {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .sliderUser {
        display: flex;
        justify-content: flex-start;
    
        margin-top: 20px;
    
        gap: 20px;
    }
    .sliderUserImg {
        width: 69px;
        height: 69px;
    
    }
    .sliderUserData {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .SliderBtns {
        display: flex;
        justify-content: center;
        gap: 42px;
    
        margin-top: 80px;
    }
}